{% extends "header.html" %}

{% block content %}

<div class="container-lg mx-auto my-5 w-50 border p-5 rounded bg-light">
    <div class="row">
        <div class="col text-center  mb-3">
            <h1>Add a bug</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('add_bug') }}" class="w-75 mx-auto">
                {{ bug_form.csrf_token }}
                <!-- Bug -->
                <div>
                    {{ bug_form.bug.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.bug(class="form-control") }}
                </div>
                <!-- Description -->
                <div>
                    {{ bug_form.description.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.description(class="form-control") }}
                </div>
                <!-- Urgency -->
                <div>
                    {{ bug_form.urgency.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.urgency(class="form-select") }}
                </div>
                <!-- Status -->
                <div>
                    {{ bug_form.status.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.status(class="form-select") }}
                </div>
                <!-- Task -->
                <div>
                    {{ bug_form.task.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.task(class="form-control") }}
                </div>
                <!-- Project -->
                <div>
                    {{ bug_form.project.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ bug_form.project(class="form-control") }}
                </div>


                <div class="mb-3 row">
                    <!-- Submit button -->
                    <div class="col">
                     {{ bug_form.submit(class="btn btn-primary") }}
                    </div>
                    <!-- Cancel button -->
                    <div class="col text-end">
                        <a class="btn btn-danger" href="{{ url_for('home') }}">Cancel</a>
                    </div>
                </div>
            </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        </div>
    </div>


</div>


{% endblock %}