{% extends "header.html" %}

{% block content %}

<div class="container-lg mx-auto my-5 w-50 border p-5 rounded bg-light">
    <div class="row">
        <div class="col text-center  mb-3">
            <h1>Edit {{ existing_details.username }}'s Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('admin_edit_password', user_id=existing_details.id) }}" class="w-75 mx-auto">
                {{ password_form.csrf_token }}
                <!-- Password -->
                <div>
                    {{ password_form.new_password.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ password_form.new_password(class="form-control") }}
                </div>
                <!-- Confirm Password -->
                <div>
                    {{ password_form.confirm_password.label(class="form-label") }}
                </div>
                <div class="mb-3">
                    {{ password_form.confirm_password(class="form-control") }}
                </div>

                <!-- Update button -->
                <div class="mb-3 row">
                    <div class="col">
                     {{ password_form.update(class="btn btn-primary") }}
                    </div>
                    <!-- Cancel button -->
                    <div class="col text-end">
                        <a class="btn btn-danger" href="{{ url_for('admin_edit_user', user_id=existing_details.id) }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}