{% extends "header.html" %}

{% block content %}

<!-- Pulling in the plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="container p-3 bg-light">
    <div class="row align-items-center py-5">
        <div class="col-6">
            <div class="">
                <h1 class="display-6">Hi {{current_user.first_name }}</h1>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-6 px-3">
                        <h3>Urgency</h3>
            <div class="chart" id="urgent_plot_div">
                <script type="text/javascript">
                    var graphs = {{ plot_data['urgent']|safe }};
                    Plotly.plot('urgent_plot_div', graphs, {});
                </script>
            </div>

        </div>
        <div class="col-6 px-3">
            <h3>Status</h3>
             <div class="chart" id="status_plot_div">
                <script type="text/javascript">
                    var graphs = {{ plot_data['status']|safe }};
                    Plotly.plot('status_plot_div', graphs, {});
                </script>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 px-3">
            <h3>Projects</h3>
            <div class="chart" id="project_plot_div">
                <script type="text/javascript">
                    var graphs = {{ plot_data['project']|safe }};
                    Plotly.plot('project_plot_div', graphs, {});
                </script>
            </div>
        </div>
    </div>

</div>

{% endblock %}